asgiref==3.7.2
coverage==7.4.4
crispy-bootstrap4==2024.1
decouple==0.0.7
Django==5.0.2
django-crispy-forms==2.1
django-debug-toolbar==4.3.0
django-filter==24.1
factory-boy==3.3.0
Faker==24.4.0
inflection==0.5.1
iniconfig==2.0.0
packaging==24.0
pillow==10.2.0
pluggy==1.4.0
pytest==8.1.1
pytest-cov==5.0.0
pytest-django==4.8.0
pytest-factoryboy==2.7.0
python-dateutil==2.9.0.post0
python-decouple==3.8
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.10.0
whitenoise==6.6.0
