{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403 Forbidden</title>
    <link rel="stylesheet" href="{% static 'css/403.css' %}">
</head>
<body>
    <div class="error-container">
        <h1>403 Forbidden</h1>
        <p>Opps!!...You are not authorized to access this page.</p>
        <button style="background-color: rgb(96, 171, 232);border-radius: 10px; color: white;" onclick=window.history.back()>GO BACK</button>

    </div>
</body>
</html>
