{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>403 Forbidden</title>
    <link rel="stylesheet" href="{% static 'css/403.css' %}">
</head>
<body>
    <div class="error-container">
        <h1>404 PAGE NOT FOUND </h1>
        <p>The Page That You Are Trying To Access Does Not Exist</p>
        <a href="" onclick= window.history.back() type="button" class="back-button">Go Back</a>

    </div>
</body>
</html>
