<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compattible" content="IE=edge" />
    <meta name=" viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title> Shipping Track Design</title>
</head>

<body>
    <div class="container">
        <div class="details">
            <div class="order">
                <h1>Order <span>x3yhd45</span></h1>
            </div>
            <div class="date">
                <p>Expected arrival 06/05/2024</p>
                <p>USPS <b>23408642327879765</b></p>
            </div>
        </div>

        <div class="track">
            <ul id="progress" class="text-centre">
                <li class="active"></li>
                <li class="active"></li>
                <li class="active"></li>
                <li class=""></li>
            </ul>
        </div>
        <div class="lists">
            <div class="list">
                <img src="ship_1.png" alt="">
                <p>Order <br> Processed</p>
            </div>
            <div class="list">
                <img src="ship_2.png" alt="">
                <p>Order <br> Shipped</p>
            </div>
            <div class="list">
                <img src="ship_3.png" alt="">
                <p>Order <br> Enroute</p>
            </div>
            <div class="list">
                <img src="ship_4.png" alt="">
                <p>Order <br> Arrived</p>
            </div>
        </div>
    </div>
</body>
</html>