<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagination</title>
    <link rel="stylesheet" href="page.css">
</head>
<body>

    <div class="container">
        <div class="pagination">
            <button class="btn1" onclick="previousPage()">prev</button>
            <ul>
                <li class="link" value="1" onclick="activelink()">1</li>
                <li class="link" value="2" onclick="activelink()">2</li>
                <li class="link" value="3" onclick="activelink()">3</li>
                <li class="link" value="4" onclick="activelink()">4</li>
                <li class="link" value="5" onclick="activelink()">5</li> 
                <li class="link" value="6" onclick="activelink()">6</li>
                <li class="link" value="1" onclick="activelink()">7</li>
                <li class="link" value="1" onclick="activelink()">8</li>
                <li class="link" value="1" onclick="activelink()">9</li>
                <li class="link" value="1" onclick="activelink()">10</li>
            </ul>
            <button class="btn2"onclick="nextPage()">next</button>
        </div>
    </div>


    <script>
        let link = document.getElementsByClassName("link");

        let currentValue = 1;
        
        function activelink(event) {
            for (let l of link) {
                l.classList.remove("active");
            }
            event.target.classList.add("active");
            currentValue = event.target.Value;
        }
        
        function previousPage() {
            if (currentValue > 1) {
                for (let l of link) {
                    l.classList.remove("active");
                }
                currentValue--;
                link[currentValue - 1].classList.add("active");
            }
        }
        
        function nextPage() {
            if (currentValue < link.length) {
                for (let l of link) {
                    l.classList.remove("active");
                }
                currentValue++;
                link[currentValue - 1].classList.add("active");
            }
        }
        
    </script>
    
</body>
</html>
