
{% block content %}
<div class="container text-center mt-5 mb-5">
    <form action="{% url 'order:checkout' %}" method='POST'  enctype="multipart/form-data">
        {% csrf_token %}
        <label for="productcategory">First Name: </label>
        {{form.first_name}}

        <label for="productDescription">Last Name: </label>
        {{form.last_name}}

        <label for="productcategory">Email:</label>
        {{form.email}}

        <label for="productPrice">Business location:</label>
        {{form.address}}

        <button type="submit" >Submit</button>
    </form>
    <h1>Thank you</h1>
    <h3>Your order has been successfully completed. Your order number is
    <strong>{{ order.id }}</strong>.</h3>
</div>
{% endblock %}